[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pexpect = "*"
pdb-clone = "*"

[packages]
prompt-toolkit = "*"
pygments = "*"
zmq = "*"
ansicolors = "*"
pygtrie = "*"
pyyaml = "*"

[requires]
